*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  width:1200px;
  height: 100dvh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;

  .box-container{
    width: 100%;
    display: flex;
    gap: 20px;
  
    .box{
      border:1px solid black;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
        &.win{ border-color: red; }    
        &.lose{ border-color: green; }
        &.draw{ border-color: black; }
    
      .item-img{
        display: block;
        width: auto;
        height: 300px;
        object-fit: cover;
      }
    }
  }  

  .button-container{
    margin-top: 12px;
    width: 100%;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;

    button{
      border: 1px solid black;
      font-size: 16px;
      font-weight: bold;
      color: black;
      background-color: white;
      padding:4px 8px;
      cursor: pointer;

      &:hover{
        background-color: black;
        color: white;
      }

      &:active{
        background-color: gray;
        color: white;
      }
    }
  }
}


